---
{
    "stream": {
        "$id": "sample-stream",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid",
            "meta", 
            "name",
            "slug"
        ],
        "localization": {
            "locales": ["en"]
        },
        "filter" : {
            "entityTypes": [
                "[REPLACE ME]"
            ]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}} - {{neighborhood}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                {{>hero-image-banner}}
                <div class="centered-container">
                    <div class="section">
                        <h1>Entity Name: <span class="font-normal">{{name}}</span></h1>
                    </div>
                    <div class="section">
                        <h2>Entity Type: <span class="font-normal">{{meta.entityType.id}}</span></h1>
                    </div>
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>